body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  background: #282c34;
  user-select: none;
}

.Global {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.App {
  flex-grow: 1;
  max-height: calc(100%-64px);
  box-sizing: border-box;
  justify-content: space-between;
  text-align: center;
  max-height: auto;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.LeftShow {
  min-width: 250px;
  transition: min-width 195ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.LeftHide {
  min-width: 0px;
  transition: min-width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

.lightFont {
  font-weight: 100 !important;
}

.drawerPaper {
  background: rgba(50, 50, 50, 0.2) !important;
  top: unset !important;
  width: 250px;
}

/*AppToolbar*/

.AppToolbarParent {
}

.AppToolbar {
  background: cadetblue;
  display: flex;
  flex-direction: row;
  z-index: 1000;
}

.ToolbarCurrent {
  margin-inline: 8px;
  background: gray;
  color: white;
  border-radius: 4px;
  padding: 4px;
}

.ToolbarDummy {
  flex-grow: 1;
}

.ToolbarTitle {
}

.ToolbarButtonRight {
}
