#root {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  background: #282c34;
}

.Global {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.App {
  flex-grow: 1;
  max-height: calc(100%-64px);
  box-sizing: border-box;
  justify-content: space-between;
  text-align: center;
  max-height: auto;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.lightFont {
  font-weight: 100 !important;
}

.drawerPaper {
  background: rgba(50, 50, 50, 0.2) !important;
  top: unset !important;
}

/*AppToolbar*/

.AppToolbar {
  background: cadetblue;
  display: flex;
  flex-direction: row;
}

.ToolbarCurrent {
  margin-inline: 8px;
  background: gray;
  color: white;
  border-radius: 4px;
  padding: 4px;
}

.ToolbarDummy {
  flex-grow: 1;
}

.ToolbarTitle {
}

.ToolbarButtonRight {
}
