.AvatarScroller {
  box-sizing: content-box;
  padding: 5px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  background: gray;
  border-radius: 5px;
}

.AvatarScroller > div {
  margin: 0 2px;
}
