/*ChatBox*/
#chatBox {
  min-width: 30%;
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background: #282c34;
  align-items: flex-start;
  box-sizing: border-box;
}

#messageList {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  margin-bottom: 8px;
  flex: 1;
}

#newMessageBox {
  flex: none;
  width: 100%;
}

/*NewMessage*/

.newMessage {
  margin: 10px 15px;
  padding: 4px 8px;
  border-radius: 8px;
  background: darkgray;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*Emotes*/

.emoteContainer {
  height: 40px;
  max-width: 40px;
}

.emote {
  height: inherit;
  width: auto;
}

/*Message*/

.Message {
  background: cadetblue;
  border-radius: 4px;
  box-sizing: border-box;
  max-width: 100%;
  margin: 4px;
  padding: 4px;
}

.MessageImage {
  margin: 8px;
  height: 250px;
  max-width: 100%;
  border-radius: 8px;
  background: gray;
  max-height: 500px;
  overflow: hidden;
}

.MessageImagePrim {
  border-radius: 8px;
  height: inherit;
  width: auto;
}

.BasicMessage {
  display: flex;
  align-items: center;
}

.BasicMessage > p {
  margin-right: 5px;
  overflow: hidden;
  word-wrap: break-word;
}

.MessageName {
  display: flex;
  align-items: center;
  margin: 4px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  cursor: pointer;
}

.MessageName > h5 {
  margin-left: 0.4rem;
  margin-right: 0.7rem;
}

.MessageInvite {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  margin: 4px;
  padding: 4px;
  background: gray;
  border-radius: 4px;
}

.MessageInvite > h5 {
  margin-inline: 8px;
}
