#root {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  background: #282c34;
}

.App {
  flex-grow: 1;
  justify-content: space-between;
  text-align: center;
  max-height: 100vh;
  align-self: stretch;
  display: flex;
  flex-direction: row;
}

.lightFont{
  font-weight: 100 !important;
}

.Popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.closePopup {
  position: relative;

  right: -180px;
  top: -10px;
}

.Popup_inside{
  border-radius: 8px;
  background: gray;
  padding: 20px;
}

.PopupInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.PopupInner {
  padding: 20px;
}

#channelSelection {
  background: darkgray ;
  padding: 8px;
  max-width: 12%;
  min-width: 10rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

#chatBox{
  min-width: 30%;
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background: #282c34 ;
  align-items: flex-start;
  box-sizing: border-box;

}

#messageList{
  padding: 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  max-height: calc(100% - 72px);
  overflow-y: auto;
  margin-bottom: 8px;
  flex: 1;
}

.newMessage{
  margin: 10px 15px;
  padding: 4px 8px;
  border-radius: 8px;
  background: darkgray;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#newMessageBox {
  flex: none;
  width: 100%;
}


.Message {
  background: cadetblue;
  border-radius: 28px;
  margin: 2px;
  padding: 8px;
  

}

.MessageImage {
  margin: 8px;
  max-height: 250px;
  max-width: 250px;
  border-radius: 8px;
  background: gray;
}

.MessageImagePrim {
  height: 100%;
  width: 100%;
}

.BasicMessage {
  
  display: flex;
  align-items: center;
  
}

.BasicMessage > p {
  margin-right: 5px;
}

.MessageName {
  display: flex;
  align-items: center;
  margin-right: 5px;
  background: rgba(255,255,255,0.2);
  border-radius: 20px;
}

.MessageName > h5 {
  margin-left: 0.4rem;
  margin-right: 0.7rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
