.fullscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*Login*/

.Login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background: darkgray;
  border-radius: 20px;
}

.Login > div {
  margin: 5px 0px;
}

/*AddEmote*/

.AddEmote {
  background: darkgray;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

/*Invite*/

.InviteWindow {
  background: darkgray;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.InviteWindow > button,
.InviteWindow > div {
  margin: 8px;
}
